@model IEnumerable<Lab.Demo.Capas.Entity.TerritorieVM>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("Index","Territories",FormMethod.Post))
{
    @Html.EditorForModel()
    
    <input type="submit" value="seleccionar" />
}



